@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

.hs_div_container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    box-sizing: border-box;
    margin-top: 10px;
}
