.hs_div_container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    background-color: #e9c46a;  
    box-sizing: border-box;
}
.hs_caption{
    padding: 20px;
    color: #2a9d8f;
    letter-spacing: .5px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}