@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

button:hover{
  cursor: pointer;
}
.app_container{
  background-color: #e9c46a;
}
::-webkit-scrollbar {
  width: 3px;
  background-color: #e9c46a;
}
::-webkit-scrollbar-thumb {
  background-color: #264653;
}
@media screen and (max-width:320px){
  img{
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width:321px) and (max-width:375px){
  img{
    width: 155px;
    height: 155px;
  }
}
@media screen and (min-width:376px) and (max-width:425px){
  img{
    width: 180px;
    height: 180px;
  }
}
@media screen and (min-width:426px) and (max-width:1024px){
  img{
    width: 210px;
    height: 210px;
  }
}
@media screen and (min-width:1025px) and (max-width:1440px){
  img{
    width: 210px;
    height: 210px;
  }
}
@media screen and (min-width:1441px){
  img{
    width: 280px;
    height: 280px;
  }
}